<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404</title>
  <script src="https://kit.fontawesome.com/f334197832.js" crossorigin="anonymous"></script>
</head>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

  :root {
    --color-1: #E7D2CC;
    --color-2: #B9B7BD;
    --color-3: #868B8E;
    --color-4: #EEEDE7;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    background: var(--color-1);
    position: absolute;
    width: 100%;
    border-radius: 0 0 20% 20%;
    top: 0;
  }

  header h1 {
    color: rgb(70, 70, 70);
    font-weight: 900;
  }

  .navigation {
    display: flex;
  }

  .navigation a {
    color: rgb(70, 70, 70);
    font-size: 1.7em;
    font-weight: bold;
    margin: 0.5em;
    transition: 0.5s ease;
  }

  .navigation a:hover {
    transform: scale(1.3);
  }

  .main-section {
    height: 100vh;
    background: var(--color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
</style>

<body>
  <header>
    <h1><a style="text-decoration: none; color: rgb(70, 70, 70);" href="/">OsB <i class="fa-solid fa-book-open"></i> ks</a></h1>
    <nav class="navigation">
      <a href="/books"><i class="fa-solid fa-magnifying-glass"></i></a>
      <a href="/upload"><i class="fa-solid fa-upload"></i></a>
    </nav>
  </header>
  <section class="main-section">
    <h1 style="font-size: 15em; color: rgb(70, 70, 70); padding: 0;">404</h1>
    <p style="font-size: 1.5em; font-weight: 600;">We couldn't find the content you're looking for.</p>
    <a style="display: flex; color: black; margin-top: 20px;" href="/books">Back to search page?</a>
  </section>
</body>

</html>